In [1]:
import pandas as pd
import os

In [2]:
stringa = 'two-saints.jpg'[:-4]
stringa = stringa.replace("-", " ")

In [3]:
main = os.listdir("../raw_data/wikiart")

genres = []
for genre in main:
    if genre[0] != ".":
        genres.append(genre)
        
len(genres)

27

In [4]:
data = genres

In [5]:
data = sorted(data)

print(data)

['Abstract_Expressionism', 'Action_painting', 'Analytical_Cubism', 'Art_Nouveau_Modern', 'Baroque', 'Color_Field_Painting', 'Contemporary_Realism', 'Cubism', 'Early_Renaissance', 'Expressionism', 'Fauvism', 'High_Renaissance', 'Impressionism', 'Mannerism_Late_Renaissance', 'Minimalism', 'Naive_Art_Primitivism', 'New_Realism', 'Northern_Renaissance', 'Pointillism', 'Pop_Art', 'Post_Impressionism', 'Realism', 'Rococo', 'Romanticism', 'Symbolism', 'Synthetic_Cubism', 'Ukiyo_e']

In [6]:
lista = []

for index, genre in enumerate(data):
    print(f"the genre is {genre}")
    g = os.listdir("../raw_data/wikiart/" + genre)
    for i, painting in enumerate(g):
        stringa = g[i][:-4]
        #print(stringa)
        stringa = stringa.replace("-", " ")
        #print(stringa)
        stringa = stringa.split("_")
        stringa.insert(0, genre)
        #print(lista)
        lista.append(stringa)
        
        if i % 100 == 0:
            print(i+1)

the genre is Abstract_Expressionism
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
1401
1501
1601
1701
1801
1901
2001
2101
2201
2301
2401
2501
2601
2701
the genre is Action_painting
1
the genre is Analytical_Cubism
1
101
the genre is Art_Nouveau_Modern
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
1401
1501
1601
1701
1801
1901
2001
2101
2201
2301
2401
2501
2601
2701
2801
2901
3001
3101
3201
3301
3401
3501
3601
3701
3801
3901
4001
4101
4201
4301
the genre is Baroque
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
1401
1501
1601
1701
1801
1901
2001
2101
2201
2301
2401
2501
2601
2701
2801
2901
3001
3101
3201
3301
3401
3501
3601
3701
3801
3901
4001
4101
4201
the genre is Color_Field_Painting
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
1401
1501
1601
the genre is Contemporary_Realism
1
101
201
301
401
the genre is Cubism
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
1401
1501
1601
1701
1801
1901
2001
2101
2201
the genre is Early_Renaissance
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
the genre is Expressionism
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
1401
1501
1601
1701
1801
1901
2001
2101
2201
2301
2401
2501
2601
2701
2801
2901
3001
3101
3201
3301
3401
3501
3601
3701
3801
3901
4001
4101
4201
4301
4401
4501
4601
4701
4801
4901
5001
5101
5201
5301
5401
5501
5601
5701
5801
5901
6001
6101
6201
6301
6401
6501
6601
6701
the genre is Fauvism
1
101
201
301
401
501
601
701
801
901
the genre is High_Renaissance
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
the genre is Impressionism
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
1401
1501
1601
1701
1801
1901
2001
2101
2201
2301
2401
2501
2601
2701
2801
2901
3001
3101
3201
3301
3401
3501
3601
3701
3801
3901
4001
4101
4201
4301
4401
4501
4601
4701
4801
4901
5001
5101
5201
5301
5401
5501
5601
5701
5801
5901
6001
6101
6201
6301
6401
6501
6601
6701
6801
6901
7001
7101
7201
7301
7401
7501
7601
7701
7801
7901
8001
8101
8201
8301
8401
8501
8601
8701
8801
8901
9001
9101
9201
9301
9401
9501
9601
9701
9801
9901
10001
10101
10201
10301
10401
10501
10601
10701
10801
10901
11001
11101
11201
11301
11401
11501
11601
11701
11801
11901
12001
12101
12201
12301
12401
12501
12601
12701
12801
12901
13001
the genre is Mannerism_Late_Renaissance
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
the genre is Minimalism
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
the genre is Naive_Art_Primitivism
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
1401
1501
1601
1701
1801
1901
2001
2101
2201
2301
2401
the genre is New_Realism
1
101
201
301
the genre is Northern_Renaissance
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
1401
1501
1601
1701
1801
1901
2001
2101
2201
2301
2401
2501
the genre is Pointillism
1
101
201
301
401
501
the genre is Pop_Art
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
1401
the genre is Post_Impressionism
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
1401
1501
1601
1701
1801
1901
2001
2101
2201
2301
2401
2501
2601
2701
2801
2901
3001
3101
3201
3301
3401
3501
3601
3701
3801
3901
4001
4101
4201
4301
4401
4501
4601
4701
4801
4901
5001
5101
5201
5301
5401
5501
5601
5701
5801
5901
6001
6101
6201
6301
6401
the genre is Realism
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
1401
1501
1601
1701
1801
1901
2001
2101
2201
2301
2401
2501
2601
2701
2801
2901
3001
3101
3201
3301
3401
3501
3601
3701
3801
3901
4001
4101
4201
4301
4401
4501
4601
4701
4801
4901
5001
5101
5201
5301
5401
5501
5601
5701
5801
5901
6001
6101
6201
6301
6401
6501
6601
6701
6801
6901
7001
7101
7201
7301
7401
7501
7601
7701
7801
7901
8001
8101
8201
8301
8401
8501
8601
8701
8801
8901
9001
9101
9201
9301
9401
9501
9601
9701
9801
9901
10001
10101
10201
10301
10401
10501
10601
10701
the genre is Rococo
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
1401
1501
1601
1701
1801
1901
2001
the genre is Romanticism
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
1401
1501
1601
1701
1801
1901
2001
2101
2201
2301
2401
2501
2601
2701
2801
2901
3001
3101
3201
3301
3401
3501
3601
3701
3801
3901
4001
4101
4201
4301
4401
4501
4601
4701
4801
4901
5001
5101
5201
5301
5401
5501
5601
5701
5801
5901
6001
6101
6201
6301
6401
6501
6601
6701
6801
6901
7001
the genre is Symbolism
1
101
201
301
401
501
601
701
801
901
1001
1101
1201
1301
1401
1501
1601
1701
1801
1901
2001
2101
2201
2301
2401
2501
2601
2701
2801
2901
3001
3101
3201
3301
3401
3501
3601
3701
3801
3901
4001
4101
4201
4301
4401
4501
the genre is Synthetic_Cubism
1
101
201
the genre is Ukiyo_e
1
101
201
301
401
501
601
701
801
901
1001
1101

In [7]:
df = pd.DataFrame(lista)
df.tail()

,0,1,2,3,4
81443,Ukiyo_e,kitagawa utamaro,a monkey trainer performing at a noblemans hou...,None,None
81444,Ukiyo_e,utagawa kuniyoshi,women 12,None,None
81445,Ukiyo_e,katsushika hokusai,shoki riding a shishi lion,None,None
81446,Ukiyo_e,katsushika hokusai,carps,None,None
81447,Ukiyo_e,kitagawa utamaro,women making dresses 2,None,None

In [8]:
df[df[3].notnull()].groupby(2).count()

                                 0    1    3    4
2
lollotte                         1    1    1    0
not                            481  481  481  481
ohnomatsu                        1    1    1    0
scarlet                          1    1    1    0
wanstead assembly at wanstead    1    1    1    0

In [9]:
df.loc[df[2]=="not",(2,3,4)] = None

In [10]:
df[df[3].notnull()]

,0,1,2,3,4
3130,Art_Nouveau_Modern,aubrey beardsley,scarlet,pastorale,None
3188,Art_Nouveau_Modern,raphael kirchner,lollotte,02 1916,None
66524,Rococo,william hogarth,wanstead assembly at wanstead,house,None
81084,Ukiyo_e,utagawa kunisada,ohnomatsu,midorinosuke,None

In [11]:
df.loc[3130, 2] = "scarlet pastorale"

In [12]:
df.loc[66524, 2] = "wanstead assembly at wanstead house"

In [13]:
df.loc[81084, 2] = "ohnomatsu midorinosuke"

In [14]:
df[df[3].notnull()]

,0,1,2,3,4
3130,Art_Nouveau_Modern,aubrey beardsley,scarlet pastorale,pastorale,None
3188,Art_Nouveau_Modern,raphael kirchner,lollotte,02 1916,None
66524,Rococo,william hogarth,wanstead assembly at wanstead house,house,None
81084,Ukiyo_e,utagawa kunisada,ohnomatsu midorinosuke,midorinosuke,None

In [15]:
df = df.drop(columns = [3,4]);

In [16]:
df.head()

,0,1,2
0,Abstract_Expressionism,joan mitchell,untitled 1958
1,Abstract_Expressionism,salvador dali,self portrait photomontage with the famous mao...
2,Abstract_Expressionism,brice marden,han shan exit 1992
3,Abstract_Expressionism,atsuko tanaka,93e 1993
4,Abstract_Expressionism,atsuko tanaka,untitled 1963

In [17]:
df = df.rename(columns = {0: "genre", 1: "artist", 2: "title"})

In [18]:
def replace_underscore(x):
    return x.replace("_", " ")

In [19]:
df["genre"] = df.genre.apply(replace_underscore)

In [20]:
df.genre.unique()

array(['Abstract Expressionism', 'Action painting', 'Analytical Cubism',
       'Art Nouveau Modern', 'Baroque', 'Color Field Painting',
       'Contemporary Realism', 'Cubism', 'Early Renaissance',
       'Expressionism', 'Fauvism', 'High Renaissance', 'Impressionism',
       'Mannerism Late Renaissance', 'Minimalism',
       'Naive Art Primitivism', 'New Realism', 'Northern Renaissance',
       'Pointillism', 'Pop Art', 'Post Impressionism', 'Realism',
       'Rococo', 'Romanticism', 'Symbolism', 'Synthetic Cubism',
       'Ukiyo e'], dtype=object)

In [21]:
"joan mitchell".split()

['joan', 'mitchell']

In [22]:
def capitalizer(x):
    lista = x.split()
    for i, word in enumerate(lista):
        lista[i] = word.capitalize()
    return " ".join(lista)

In [23]:
capitalizer("joan mitchell")

'Joan Mitchell'

In [24]:
df["artist"] = df.artist.apply(capitalizer)

In [25]:
df.tail()

,genre,artist,title
81443,Ukiyo e,Kitagawa Utamaro,a monkey trainer performing at a noblemans hou...
81444,Ukiyo e,Utagawa Kuniyoshi,women 12
81445,Ukiyo e,Katsushika Hokusai,shoki riding a shishi lion
81446,Ukiyo e,Katsushika Hokusai,carps
81447,Ukiyo e,Kitagawa Utamaro,women making dresses 2

In [27]:
def year(x):
    lista = string.split()
    if len(lista[-1]) == 4 and lista[-1].isdigit():
        return lista[-1]
    return None

In [28]:
df.title.apply(year)

NameError: name 'string' is not defined

In [ ]:
df_genre = df.groupby("genre").count()

In [ ]:
df_genre.sort_values(by="artist", ascending = False).drop(columns = "title").rename(columns={"artist": "count"})

In [ ]:
df_artist = df.groupby("artist").count()

In [ ]:
df[df["artist"] == ".ipynb"]

In [ ]:
df_artist.sort_values(by="genre", ascending = False).drop(columns="title").rename(columns={"genre": "count"}).head(8)